* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none;
}

:root {
  --color-primary: #191d2b;
  --color-secondary: #32b7f0;
  --color-white: #FFFFFF;
  --color-black: #252a3c;
  --color-grey0: #f8f8f8;
  --color-grey-1: #dbe1e8;
  --color-grey-2: #b2becd;
  --color-grey-3: #6c7983;
  --color-grey-4: #454e56;
  --color-grey-5: #2a2e35;
  --color-grey-6: #12181b;
  --br-sm-2: 14px;
  --box-shadow-1: 0 3px 15px rgba(0, 0, 0, .3);
}

body {
  background-color: var(--color-primary);
  font-family: "Poppins", sans-serif;
  font-size: 1.1rem;
  color: var(--color-white);
  transition: all 0.4s ease-in-out;
}

.controls {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 38%;
  left: 1%;
  align-items: flex-end;
}
.controls .control {
  background-color: #6c7983;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 30px;
  margin-top: 15px;
  border-radius: 100%;
  cursor: pointer;
}
.controls .control:hover {
  background-color: #32b7f0;
  height: 35px;
  width: 35px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
.controls .active-btn {
  background-color: #32b7f0;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
  width: 35px;
  border-radius: 100%;
  cursor: pointer;
}

.section {
  transform: translateY(-100%) scale(0);
  transition: all 0.4s ease-in-out;
  background-color: var(--color-primary);
  min-height: 100vh;
  min-width: 100%;
}

.sec1 {
  display: none;
  transform: translateY(0) scale(1);
}

.sec2 {
  display: none;
  transform: translateY(0) scale(1);
}

.sec3 {
  display: none;
  transform: translateY(0) scale(1);
}

.sec4 {
  display: none;
  transform: translateY(0) scale(1);
}

.active {
  display: block;
  animation: sectionanim 0.8s ease-in-out;
  transform: translateY(0) scale(1);
}
@keyframes sectionanim {
  0% {
    transform: translateY(-100%) scale(0);
  }
  100% {
    transform: translateY(0) scale(1);
  }
}

.home-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  min-height: 100vh;
}
.home-content .right-side {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home-content .right-side .shape {
  -webkit-clip-path: polygon(56% 0, 100% 0, 100% 100%, 0% 100%);
          clip-path: polygon(56% 0, 100% 0, 100% 100%, 0% 100%);
  position: absolute;
  right: 0;
  top: 0;
  z-index: -2;
  background-color: var(--color-secondary);
  height: 100%;
  width: 130%;
  transition: all 0.4s ease-in-out;
}
.home-content .right-side .myphoto {
  border-radius: var(--br-sm-2);
  height: 85%;
  width: 120%;
  margin-left: 4rem;
  background-color: var(--color-black);
  transition: all 0.4s ease-in-out;
  position: absolute;
  right: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home-content .right-side .myphoto img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all 0.4s ease-in-out;
  filter: grayscale(15%) brightness(90%);
  transition: 0.1s;
}
.home-content .left-side {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-left: 13.5rem;
}
.home-content .left-side .name {
  font-size: 2rem;
}
.home-content .left-side .name span {
  color: var(--color-secondary);
  font-weight: bolder;
}
.home-content .left-side p {
  margin: 1.5rem 0;
  line-height: 2rem;
}

.main-title {
  text-align: center;
  margin-top: 20px;
}
.main-title h2.first-title {
  font-size: 4rem;
  font-weight: 600;
}
.main-title h2.second-title {
  font-size: 4rem;
  font-weight: 600;
  position: relative;
  margin-top: -5.85rem;
  color: var(--color-secondary);
}

.about-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-top: 3.5rem;
  padding-bottom: 1.5rem;
}
.about-container .left-about {
  padding: 5rem 3rem 3rem 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.about-container .left-about p {
  margin: 1.5rem 0;
  line-height: 2rem;
}
.about-container .right-about {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 3rem 2rem 3rem 7rem;
  grid-gap: 1.5rem;
}
.about-container .right-about .about-item {
  height: 12rem;
  width: 15rem;
  box-shadow: var(--box-shadow-1);
}
.about-container .right-about .about-item .abt-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.about-container .right-about .about-item .abt-text .large-text {
  font-size: 3rem;
  color: var(--color-secondary);
  font-weight: 600;
  padding-left: 1.8rem;
  padding-top: 1rem;
}
.about-container .right-about .about-item .abt-text .small-text {
  padding-left: 3.5rem;
  padding-top: 0.5rem;
}
.about-container .right-about .about-item:hover {
  border: 0.1px solid var(--color-secondary);
}

.skill-title {
  color: rgb(181, 246, 246);
  text-align: center;
  text-decoration: underline;
  margin-top: 2rem;
}

.skills {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
  padding: 4rem 3rem;
}
.skills .progress-bars {
  padding: 1rem 9rem;
}
.skills .progress-bars .progress-bar {
  display: flex;
  flex-direction: column;
  padding: 1rem 1rem;
  height: 6rem;
  width: 25rem;
  box-shadow: var(--box-shadow-1);
}
.skills .progress-bars .progress-bar .progress-con {
  margin-top: 0.9rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.skills .progress-bars .progress-bar .progress {
  height: 0.5rem;
  width: 18.3rem;
  background-color: var(--color-grey-4);
  border-radius: 30px;
}
.skills .progress-bars .progress-bar .progress .color-percent {
  height: 0.5rem;
  position: relative;
  left: 0px;
  background-color: var(--color-secondary);
  border-radius: 30px;
}
.skills .progress-bars .progress-bar:hover {
  border: 0.1px solid var(--color-secondary);
}

.heading {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
  margin-bottom: 5rem;
  height: 100%;
  width: 100%;
}
.heading .first-heading {
  font-size: 4rem;
  font-weight: 600;
  color: var(--color-secondary);
  position: absolute;
  z-index: 0;
}
.heading .second-heading {
  font-size: 5.5rem;
  font-weight: 300;
  color: var(--color-grey-4);
  position: absolute;
  z-index: -1;
}

.projects-grid {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0rem 20% 7%;
}
.projects-grid .projects .project {
  margin-top: 2.5rem;
}
.projects-grid .projects .project .project-title {
  font-size: 1.5rem;
}
.projects-grid .projects .project .project-content {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 29rem;
  width: 41.5rem;
  padding: 1.3rem;
  box-shadow: 0 3px 15px rgba(136, 198, 231, 0.3);
  margin-top: 2rem;
  border-radius: 50px;
}
.projects-grid .projects .project .project-content .project-img {
  height: 18rem;
  width: 39rem;
  border-radius: 40px;
  filter: brightness(95%);
}
.projects-grid .projects .project .project-content .project-desc {
  font-size: 1rem;
  margin-bottom: 8px;
}
.projects-grid .projects .project .project-content .project-links {
  position: relative;
  margin-bottom: 0px;
  display: flex;
  align-items: center;
}
.projects-grid .projects .project .project-content .project-links .git-hub {
  margin: 0 10px;
}
.projects-grid .projects .project .project-content .project-links .git-hub:hover {
  box-shadow: 0px 0px 1.3px rgb(5, 161, 244), 0px 0px 3.1px rgb(5, 161, 244), 0px 0px 5.9px rgb(5, 161, 244), 0px 0px 10.5px rgb(5, 161, 244), 0px 0px 19.6px rgb(5, 161, 244), 0px 0px 47px rgb(5, 161, 244);
}
.projects-grid .projects .project .project-content .project-links .browser {
  margin: 0 10px;
}
.projects-grid .projects .project .project-content .project-links .browser:hover {
  box-shadow: 0px 0px 1.3px rgb(5, 161, 244), 0px 0px 3.1px rgb(5, 161, 244), 0px 0px 5.9px rgb(5, 161, 244), 0px 0px 10.5px rgb(5, 161, 244), 0px 0px 19.6px rgb(5, 161, 244), 0px 0px 47px rgb(5, 161, 244);
}
.projects-grid .projects .project .project-content .project-links .yt-icon {
  margin: 0 10px;
}
.projects-grid .projects .project .project-content .project-links .yt-icon:hover {
  box-shadow: 0px 0px 1.3px rgb(5, 161, 244), 0px 0px 3.1px rgb(5, 161, 244), 0px 0px 5.9px rgb(5, 161, 244), 0px 0px 10.5px rgb(5, 161, 244), 0px 0px 19.6px rgb(5, 161, 244), 0px 0px 47px rgb(5, 161, 244);
}
.projects-grid .projects .project .project-content:hover {
  border: 0.1px solid var(--color-secondary);
}

.contact-details {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  margin: 2.5% 7% 0.5%;
}
.contact-details .left-side {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.contact-details .left-side .first-row {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}
.contact-details .left-side .first-row img {
  height: 150px;
  width: 150px;
  border-radius: 100%;
}
.contact-details .left-side .first-row img:hover {
  box-shadow: 0px 0px 1.3px rgb(5, 161, 244), 0px 0px 3.1px rgb(5, 161, 244), 0px 0px 5.9px rgb(5, 161, 244), 0px 0px 10.5px rgb(5, 161, 244), 0px 0px 19.6px rgb(5, 161, 244), 0px 0px 47px rgb(5, 161, 244);
}
.contact-details .left-side .second-row {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}
.contact-details .left-side .second-row img {
  height: 150px;
  width: 150px;
  border-radius: 100%;
}
.contact-details .left-side .second-row img:hover {
  box-shadow: 0px 0px 1.3px rgb(5, 161, 244), 0px 0px 3.1px rgb(5, 161, 244), 0px 0px 5.9px rgb(5, 161, 244), 0px 0px 10.5px rgb(5, 161, 244), 0px 0px 19.6px rgb(5, 161, 244), 0px 0px 47px rgb(5, 161, 244);
}
.contact-details .left-side .third-row {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}
.contact-details .left-side .third-row .gmail-img {
  height: 150px;
  width: 150px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: var(--box-shadow-1);
}
.contact-details .left-side .third-row .gmail-img img {
  height: 100px;
  width: 100px;
}
.contact-details .left-side .third-row .gmail-img:hover {
  box-shadow: 0px 0px 1.3px rgb(5, 161, 244), 0px 0px 3.1px rgb(5, 161, 244), 0px 0px 5.9px rgb(5, 161, 244), 0px 0px 10.5px rgb(5, 161, 244), 0px 0px 19.6px rgb(5, 161, 244), 0px 0px 47px rgb(5, 161, 244);
}
.contact-details .left-side .third-row img.insta {
  height: 150px;
  width: 150px;
  border-radius: 100%;
}
.contact-details .left-side .third-row img.insta:hover {
  box-shadow: 0px 0px 1.3px rgb(5, 161, 244), 0px 0px 3.1px rgb(5, 161, 244), 0px 0px 5.9px rgb(5, 161, 244), 0px 0px 10.5px rgb(5, 161, 244), 0px 0px 19.6px rgb(5, 161, 244), 0px 0px 47px rgb(5, 161, 244);
}
.contact-details .right-side {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 3rem;
}
.contact-details .right-side .contact-form {
  display: flex;
  flex-direction: column;
}
.contact-details .right-side .contact-form .name input {
  outline: none;
  border: none;
  background-color: var(--color-grey-5);
  height: 2rem;
  width: 30rem;
  border-radius: 30px;
  margin-bottom: 1rem;
  padding-left: 10px;
  color: #f8f8f8;
  letter-spacing: 2px;
}
.contact-details .right-side .contact-form .mail input {
  outline: none;
  border: none;
  background-color: var(--color-grey-5);
  height: 2rem;
  width: 30rem;
  border-radius: 30px;
  margin-bottom: 1rem;
  padding-left: 10px;
  color: #f8f8f8;
  letter-spacing: 2px;
}
.contact-details .right-side .contact-form .options select {
  outline: none;
  border: none;
  background-color: var(--color-grey-5);
  height: 2rem;
  width: 30rem;
  border-radius: 30px;
  margin-bottom: 1rem;
  padding-left: 10px;
  color: #f8f8f8;
  letter-spacing: 2px;
}
.contact-details .right-side .contact-form .msg-area textarea {
  outline: none;
  border: none;
  background-color: var(--color-grey-5);
  height: 17rem;
  width: 30rem;
  border-radius: 30px;
  margin-bottom: 1rem;
  padding-left: 10px;
  padding-top: 15px;
  color: #f8f8f8;
  letter-spacing: 2px;
}
.contact-details .right-side .contact-form .msg-area textarea ::-moz-placeholder {
  accent-color: #32b7f0;
}
.contact-details .right-side .contact-form .msg-area textarea ::placeholder {
  accent-color: #32b7f0;
}
.contact-details .right-side .contact-form .submit-btn .send-btn {
  width: 9.5rem;
  height: 2rem;
  border: 0.1px solid #9d9fa1;
  border-radius: 50px;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact-details .right-side .contact-form .submit-btn .send-btn:hover {
  background-color: var(--color-secondary);
  border: none;
}
.contact-details .right-side .contact-form .submit-btn .send-btn:hover .btn-text {
  color: var(--color-grey-1);
}
.contact-details .right-side .contact-form .submit-btn .send-btn .btn-text {
  color: #9d9fa1;
  font-size: 0.9rem;
}

.main-btn {
  text-decoration: none;
  cursor: pointer;
}
.main-btn .cv-btn {
  width: 9.5rem;
  height: 2rem;
  border: 0.1px solid #9d9fa1;
  border-radius: 50px;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main-btn .cv-btn:hover {
  background-color: var(--color-secondary);
  border: none;
}
.main-btn .cv-btn:hover .btn-text {
  color: var(--color-grey-1);
}
.main-btn .cv-btn .btn-text {
  color: #9d9fa1;
  padding-left: 1.2rem;
  font-size: 0.9rem;
}
.main-btn .cv-btn .btn-icon {
  background-color: var(--color-secondary);
  width: 1.85rem;
  height: 1.85rem;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}/*# sourceMappingURL=styles.css.map */